<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <style>
      body {
        color: white;
      }
      a {
        color: white;
        font-size: 32px;
      }
      li{
        margin-bottom: 2em;
      }
    </style>
</head>
<body style="background-color:black">
    <h1 style="font-size: 82px">HOME PAGE🏠</h1>
    <ul>
        <li><a href="http://localhost:8080/showCourseInsertForm">Aggiungi Nuovo Corso 📚</a></li><br><br>
        <li><a href="http://localhost:8080/showTeacherInsertForm">Aggiungi un nuovo professore 🧑‍🏫</a></li><br><br>
        <li><a href="http://localhost:8080/indexCourse">Cerca corso 📖</a></li><br><br>
        <li><a href="http://localhost:8080/indexTeacher">Cerca professore 🧑‍🏫</a></li><br><br>
    </ul>
</body>
</html>